*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #1E2629;
  --light-color: #FEFAEF;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url('Assets/Image1.png');
  background-size: cover;
  background-position: center;
}

.logo {
  width: 100px;
  border-radius: 50%;
  border: 2px solid #FEFAEF;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  padding: 0px 30px;
}

@media (max-width: 768px) {
  .container {
    background-size: cover;
  }
}

