*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

:root {
  --dark-color: #1E2629;
  --light-color: #FEFAEF;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url('Assets/Image1.png');
  background-size: cover;
  background-position: center;
}