*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #1E2629;
  --light-color: #FEFAEF;
}

body {
  background-image: url('Assets/Image1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  body {
    background-size: cover;
  }
}